*
!/README.md
!/.screenrc
!/.emacs
!/.gitconfig
!/.gitignore
!/.emacs.d
!/.emacs.d/autosave
!/.emacs.d/autosave/autosave
!/.emacs.d/backup
!/.emacs.d/backup/backup
!/.emacs.d/site-lisp
!/.emacs.d/site-lisp/*.el
!/.emacs.d/site-lisp/malabar-1.4.0
!/.emacs.d/site-lisp/malabar-1.4.0/lib
!/.emacs.d/site-lisp/malabar-1.4.0/lib/*.jar
!/.emacs.d/site-lisp/malabar-1.4.0/lisp
!/.emacs.d/site-lisp/malabar-1.4.0/lisp/*.el